html {
  box-sizing: border-box;
  font-family: 'Great Vibes', cursive;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1{
	text-align: center;
	margin:0;
	font-size: 36pt;
	color:#512200;
	font-weight: bold;
}
