html {
  box-sizing: border-box;
  font-family: 'Great Vibes', cursive;
  font-family: 'Lora', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
	margin:0;
}

h1{
	text-align: center;
	margin:0;
	font-size: 22pt;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: 'Great Vibes', cursive;
}

.masthead{
	padding-top: 15px;
	background-image: url("../images/wheat-logo-left.svg"), url("../images/wheat-logo-right.svg");
	background-size: 80px auto, 80px auto;
	background-repeat: no-repeat, no-repeat;
	background-position: left 6px top 10px, right 6px top 10px;
}
