html {
  box-sizing: border-box;
  font-family: 'Great Vibes', cursive;
  font-family: 'Lora', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
	margin:0;
}

h1{
	text-align: center;
	margin:0;
	font-size: 29pt;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: 'Great Vibes', cursive;
}

.masthead{
	padding-top: 15px;
	background-image: url("../images/wheat-logo-left.svg"), url("../images/wheat-logo-right.svg");
	background-size: 16% auto, 16% auto;
	background-repeat: no-repeat, no-repeat;
	background-position: left 3px top 20px, right 3px top 20px;
}

nav{
	background-color: #80edea;
	font-size: 18pt;
}

nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li{
	margin:0;
	padding:10px;
	display: inline-block;
	text-decoration: none;
	width:30.5%;
	text-align: center;
}

.nav a {
  display: block;
  padding: 0.4em 0 0.5em;

}

.nav a:hover {
  background-color: #b8fffb;
}

.banner{
	padding: calc(1.5em + 15vw) 0 0;
	background: url("../images/banner.jpg") center center / cover no-repeat;
}

.intro {
  margin: 0;
  padding: 3em 10px 0.5em;

  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.6));

  color: #fff;
  font-size: 26pt;
  font-family: 'Great Vibes', cursive;
  text-align: center;
}

.logo{
width: 55%;
padding: 15px;
float:left;
}

.about{
padding: 18px;
padding-top: 18px;
padding-bottom: 18px;
margin: 0;
font-size: 10.5pt;
font-family: 'Lora', serif;
}

h2{
text-align: center;
font-family: 'Great Vibes', cursive;
background-color: #231f20;
color: #fff;
padding-top: 10px;
padding-bottom: 5px;
font-size: 26pt;
margin-bottom: 0;
margin-top:0;
}

p.first{
	font-size: 10.5pt;
	padding: 18px;
	background-color: #c69569;
	font-family: 'Lora', serif;
	margin: 0;
	color: #000;
}

